body{
    background-color: black;
}
nav{
    margin: 10px;
}
.navbar.navbar-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    width: 1000px;
}
.header span{
    font-family: 'Allura' cursive;
}
.dart-fs-48{
    font-size: 2.7em;
}
.header{
    text-align: center;
    margin-top: 10px;
}
.header h1{
    color: white;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}
.header hr{
    background-color: white;
    height: 2px;
    width: 100px;
    border: none;
    margin-top: 10px;
}
.menu-food .menu-food-pennal li.food-spicy, .menu-food .menu-food-pennal li:hover {
    padding: 12px 0;
    position: relative;
    color: #fff;
    background-color: #ffcc00;
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    transition: all 500ms ease-in-out;
}
.menu-food .menu-food-pennal {
    padding: 0;
    margin: 10px;
    height: 100px;
    border-bottom: 3px solid #ffcc00; 
}

.menu-list-1 .dish-name {
    padding: 6px 0 0 10px;
    overflow: hidden;
}
.dishs-price {
    color: #f7b527;
    font-weight: 600;
    font-size: 1.2857142857142858em;
}
h4{
    color: #f7b527;

}
p{
    color: white;
}
.nav-tabs{
    padding: 20px;
    margin: 50px;
}
.nav-item{
    margin: 8px;
}
h2{
    color: white;
}
h5{
    color: white;
}
h6{
    text-align: center;
}
.list-unstyled{
    color: white;
}
.flex-container{
    display: flex;
}
h3{
    color:#f7b527 ;
}
.left{
    float: left;
    padding: 0 10px 0 0;
}
#chefs{
    border: white;
}
.aligncenter{
    text-align: center;
}